<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056660862710-4uqd3ib7vopjjp6258gr99thraiada46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056660862710-4uqd3ib7vopjjp6258gr99thraiada46</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056660862710-8ld746cgtmmjjgqfbt9snqusv3t4521a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOke98-77PyABb8Ff5R-5C3FrlTffzx98</string>
	<key>GCM_SENDER_ID</key>
	<string>1056660862710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emailPasswordLogin</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-68a56</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-68a56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056660862710:ios:ed159df38516d4b3929ed7</string>
</dict>
</plist>